<!DOCTYPE html>
<html>
  <head>
    <title>Liftsinnout</title>
    <%= javascript_include_tag  "https://maps.googleapis.com/maps/api/js?key=AIzaSyCZ-m90KOPoGntvZs2tWlp45yai49b3Dbs&libraries=places" %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
